.burger-menu {
    display: none;
    position: relative;
    &__button {
        display: block;
        position: relative;
        width: 40px;
        height: 20px;
        background-color: transparent;
        & span {
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: #333;
            z-index: 300;
            transition: all .3s ease-in-out;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 2px;
                right: 0;
                background-color: #333;
                z-index: 300;
                transition: all .3s ease-in-out;
            }
            &::before {
                top: 10px
            }
            &::after {
                width: 30px;
                top: 20px;
            }
        }
    }
    &__nav {
        position: fixed;
        display: flex;
        flex-direction: column;

        height: 100vh;
        width: 200px;
        top: -200px;
        right: -200px;
        padding-top: 100px;

        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: $main;

        background-color: #333;
        z-index: 20;
        transition: right .5s ease-in-out;
    }
    &__overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(0,0,0,0.0);
        transition: background-color .5s ease-in-out;
    }
    &__nav {
        position: absolute;
        opacity: 0;
    }
}

.burger-menu--active .burger-menu__overlay {
    display: block
}

.burger-list  {

    & a div {
        color: $main;
    }
    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.burger-menu--active {
    & span {
        background-color: transparent;
        transform: rotate(45deg) translateX(120px) translateY(-120px);
        &::before {
            width: 35px;
            top: 10px;
            background-color: $main;
        }
        &::after {
            width: 35px;
            top: 10px;
            transform: rotate(-90deg);
            background-color: $main;
        }
    }
}

.nav-active {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;

}

.body-active {
    margin-left: -300px;
    overflow: hidden;
}

.overlay-active {
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}








.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-section {
        background-color: $main;
        height: 70px;
    }
    &__logo {
        margin: auto 0;
    }
    &__phone {
        font-size: 24px;
        color: #333;
        font-weight: 600;
        text-decoration: underline;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.nav {
    &__list {
        
        display: flex;
    }
}
.list {
    &__item {
        font-size: 18px;
        font-weight: 500;
        &:not(:last-child) {
            margin-right: 45px;
        }

        & a {
            display: block;
            position: relative;
            &:before {
                content:'';
                position: absolute;
                width: 2px;
                height: 100%;
                left: 0;
                top: 0;
                background-color: #FF8F2B;
                transition: transform 0.5s ease-in-out;
                transform-origin: bottom;
                transform: scale(0)
            }
            &:after {
                content:'';
                position: absolute;
                width: 2px;
                height: 100%;
                right: 0;
                top: 0;
                background-color: #FF8F2B;
                transition: transform .5s ease-in-out;
                transform-origin: top;
                transform: scale(0)
            }
            & div {
                padding: 3px;
                position: relative;
                &:before {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 0;
                    background-color: #FF8F2B;
                    transition: transform .5s ease-in-out;
                    transform-origin: left;
                    transform: scale(0);
                }
                &:after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    background-color: #FF8F2B;
                    transition: transform .5s ease-in-out;
                    transform-origin: right;
                    transform: scale(0)
                }
                
            }
        }
    }
}

.list__item a div:hover::before,
.list__item a div:hover::after,
.list__item a:hover::before,
.list__item a:hover::after {
    transform: scale(1);
}




// HERO



.hero {
    position: relative;
    &-section {
        padding: 40px 0px 85px 0px;
        background-color: $main;
    }
    &__wrapper {
        width: 535px;
    }
    &-info {
        &__title {
            font-size: 70px;
            font-weight: 700;
            line-height: 70px;
            color: #333;
        }
        &__text {
            margin-top: 23px;
            font-size: 30px;
            font-weight: 600;
            color: #333;
        }
        &__button {
            position: relative;
            width: 304px;
            height: 60px;
            margin-top: 50px;
            font-size: 24px;
            color: #fff;
            background-color: #FF352B;
            transition: transform .3s ease-in-out;
            cursor: pointer;
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 304px;
                height: 60px;
                background-color: transparent;
                border: 1px solid #f2f2f2;
                transition: transform 0.3s ease-in-out;
                transform: translateX(9px) translateY(-35px);
                z-index: 1;
            }
            &::before {
                content: 'Заказать';
                display: block;
                position: absolute;
                width: 304px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                background-color: #FF352B;
                transition: transform 0.3s ease-in-out;
                transform: translateY(-17px);
                z-index: 2;
            }
            &:hover {
                transform: scale(1.15);
                &::before,
                &::after {
                    transform: scale(0);
                }
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            margin-top: 77px;
        }
    }
    &-list {
        &__item {
            height: 42px;
            max-width: 186px;
            min-width: 140px;
            padding-left: 60px;
            background: url(../img/headerHero/HeroList1.svg) no-repeat;
            &:nth-child(2) {
                padding-left: 50px;
                background: url(../img/headerHero/HeroList2.svg) no-repeat;
            }
            &:nth-child(3) {
                padding-left: 50px;
                background: url(../img/headerHero/HeroList3.svg) no-repeat;
            }
        }
    }

    &__img {
        position: absolute;
        &--truck {
            top: 100px;
            right: -40px;
        }
        &--man {
            top: -33px;
            right: 380px;
            z-index: 1;
        }
    }
}

#hero-modal {
    display: none;
}

.hero-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 450px;
    left: 50vw;
    top: 50vh;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #333;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    &__name,
    &__tel {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #333;
    }
    &__button {
        width: 100%;
        height: 60px;
        font-size: 20px;
        line-height: 50px;
        background-color: $main;
        cursor: pointer;
    }
    &__close {
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 50px;
        right: 0;
        top: 0;
        text-align: center;
        cursor: pointer;
    }
}
