// ORDER


.order {
    padding-top: 125px;
    padding-bottom: 125px;
    &__description {
        margin-top: 10px;
    }
    &__form {
        display: flex;
        position: relative;
        width: 990px;
        margin-top: 50px;
        padding-bottom: 30px;
        &--name {
            width: 300px;
            height: 40px;
            margin-right: 70px;
            border-bottom: 1px solid #333;
        }
        &--phone {
            width: 300px;
            height: 40px;
            margin-right: 70px;
            border-bottom: 1px solid #333;
        }
        &--button {
            width: 250px;
            height: 50px;
            color: #fff;
            background-color: #FF352B;
            transition: transform .3s ease-in-out;
            cursor: pointer;
             &:after {
                content: '';
                display: block;
                position: absolute;
                width: 250px;
                height: 50px;
                background-color: transparent;
                border: 1px solid $main;
                transform: translateX(9px) translateY(-25px);
                z-index: 1;
            }
            &:before {
                content: 'Перезвоните мне';
                display: block;
                position: absolute;
                width: 250px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                background-color: #FF352B;
                transform: translateY(-16px);
                z-index: 2;
            }
            &:hover {
                transform: scale(1.15);
                &::before,
                &::after {
                    transform: scale(0);
                }
            }
        }
        &--checkbox {
            position: absolute;
            bottom: 0;
            right: 265px;
        }
        &--label {
            position: absolute;
            font-size: 12px;
            bottom: 0;
            right: 0;
        }
    }
}

// MAP

.map {
    &-section {
        position: relative;
        width: 100%;
        height: 666px;
    }
    &-block {
        position: absolute;
        width: 368px;
        height: 326px;
        top: 162px;
        padding: 40px 35px;
        background-color: #fff;
        z-index: 10;
        // &__container {
            // position: relative;
        // }
        &__list {
            margin-top: 40px;
            &--item {
                padding-left: 30px;
                color: #333;
                background: url(../img/MapFooter/mapList.svg) no-repeat;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:nth-child(3) {
                    text-decoration: underline;
                }
            }
        }

    }
}

.social-list {
    display: flex;
    position: absolute;
    width: 150px;
    right: 35px;
    margin-top: 60px;
    justify-content: flex-end;
    &__item {
        background: url(../img/MapFooter/yt.svg);
        transition: .5s ease-in-out;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &:nth-child(2) {
            background: url(../img/MapFooter/vk.svg);
        }
        &:nth-child(3) {
            background: url(../img/MapFooter/fb.svg);
        }
        &:nth-child(4) {
            background: url(../img/MapFooter/insta.svg);
        }
        & a{
            display: block;
            width: 18px;
            height: 18px;
        }
        &:hover {
            transform: rotate(360deg);
        }
    }
}

// FOOTER

.footer {
    display: flex;
    justify-content: space-between;
    &-section {
        background-color: $main;
        padding: 100px 0px;
    }

    &__policy {
        display: flex;
        flex-direction: column;
        &--logo {
            width: 115px;
            height: 40px;
        }
        & p {
            margin-top: 40px;
            max-width: 239px;
            color: #0E0F12;
        }
    }

    &-nav {
        &__list {
            &--item {
                font-size: 20px;
                font-weight: 500;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                & a {
                    display: block;
                    position: relative;
                    &:before {
                        content:'';
                        position: absolute;
                        width: 2px;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background-color: #FF8F2B;
                        transition: transform 0.4s ease-in-out;
                        transition-delay: 0.3s;
                        transform-origin: bottom;
                        transform: scale(0)
                    }
                    &:after {
                        content:'';
                        position: absolute;
                        width: 2px;
                        height: 100%;
                        right: 0;
                        top: 0;
                        background-color: #FF8F2B;
                        transition: transform .4s ease-in-out;
                        transition-delay: 0.1s;
                        transform-origin: top;
                        transform: scale(0)
                    }
                    & div {
                        padding: 3px;
                        position: relative;
                        text-align: center;
                        &:before {
                            content:'';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            top: 0;
                            background-color: #FF8F2B;
                            transition: transform .4s ease-in-out;
                            transition-delay: 0s;
                            transform-origin: left;
                            transform: scale(0);

                        }
                        &:after {
                            content:'';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: 0;
                            background-color: #FF8F2B;
                            transition: transform .4s ease-in-out;
                            transition-delay: 0.2s;
                            transform-origin: right;
                            transform: scale(0)
                        }
                        
                    }
                }
            }
        }
    }
    
    &-social {
        &__list {
            position: static;
            margin-top: 0;
            justify-content: space-between;
            &--item {
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
        &__mail {
            display: block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.15);
            }
        }
    }
    &__call {
        &--button {
            width: 250px;
            height: 50px;
            font-size: 20px;
            font-weight: 500;
            background-color: $main;
            border: 1px solid #333;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #333;
                color: $main;
                transform: skew(-10deg);
            }
        }
        &--phone {
            display: block;
            margin-top: 5px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            text-decoration: underline;
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer-nav__list--item a div:hover::before,
.footer-nav__list--item a div:hover::after,
.footer-nav__list--item a:hover::before,
.footer-nav__list--item a:hover::after {
    transform: scale(1);
}

// MOBILE ELEMENTS
