@media (max-width: 1390px) {
    .container {
        width: 1000px;
    }
    .hero {
        &__img {
            &--man {
                right: 50px;
            }
            &--truck {
                top: 140px;
                right: -20px;
            }
        }
    }
    
    .price {
        &-list {
            &__item {
                padding: 60px;
            }
        }
    }

    .swiper {
        &-slide {
            &__left {
                width: 25%;
                padding-left: 25px;
            }
            &__right img{
                width: 600px;
                right: 0;
            }
        }
    }

    .reviews {
        &-list {
            &__item {
                width: calc(1000px / 3 - 10px);
            }
        }
    }
}

@media (max-width: 1100px) {
    @keyframes stepsAnimate1st {
        0% {
            transform: scale(1);
        }
    
        15% {
            transform: scale(1.08);
        }
    
        35% {
            transform: scale(1);
        }
    
    }
    
    @keyframes stepsAnimate2nd {
    
        15% {
            transform: scale(1)
        }
    
        40% {
            transform: scale(1.08);
        }
    
        50% {
            transform: scale(1);
        }
    }
    
    @keyframes stepsAnimate3rd {
        40% {
            transform: scale(1);
        }
    
        65% {
            transform: scale(1.08);
        }
    
        75% {
            transform: scale(1);
        }
    }
    
    @keyframes stepsAnimate4th {
        65% {
            transform: scale(1);
        }
    
        90% {
            transform: scale(1.08);
        }
    
        100% {
            transform: scale(1);
        }
    }
}


@media (max-width: 1024px) {
    .container {
        width: 900px;
    }

    .hero {
        &-section {
            padding-bottom: 25px;
        }
        &__img {
            &--truck {
                display: none;
            }
            &--man {
                right: 0;
                top: -27px;
            }
        }
        &-list {
            margin-top: 35px;
            flex-direction: column;
            &__item {
                max-width: none;
                line-height: 42px;
                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .price {
        &-list {
            &__item {
                padding: 50px 20px;
            }
        }
    }

    .left {
        width: 30%;
        &__button {
            width: 100%;
        }
        &-list {
            margin-top: 30px;
            &__item {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .right img {
        padding-top: 30px;
        width: 450px;
    }

    .reviews {
        &-list {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            &__item {
                width: calc(900px / 2 - 20px);
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .order {
        &__form {
            width: 100%;
            justify-content: space-between;
            &--name,
            &--phone {
                width: 25%;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 940px) {
    .container {
        width: 720px;
    }

    .header {
        &__phone {
            font-size: 20px;
        }
    }

    .list {
        &__item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .steps {
        &-list {
            flex-direction: column;
            align-items: center;
            &__item {
                width: 70%;
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-bottom: 50px;
                }
            }
        }
    }

    .price {
        &-list {
            flex-direction: column;
            align-items: center;
            &__item {
                width: 70%;
                &--info {
                    margin-top: 30px;
                }
                &--price {
                    margin-top: 30px;
                }
                &--button {
                    display: block;
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 30px;
                }
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    

    .reviews {
        padding-top: 70px;
        padding-bottom: 70px;
        &-list {
            display: none;
        }
        &__button {
            display: none;
        }
    }

    .swiper-container-reviews {
        display: block;
    }


    .swiper {
        &-container-reviews {
            padding-bottom: 70px;
        }
    }

    .footer {
        position: relative;
        &-social {
            position: absolute;
            right: 10px;
            bottom: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header__phone {
        display: none;
    }
    .nav__list {
        display: none;
    }

    .burger {
        &-menu {
            display: block;
            &--active span {
                transform: rotate(45deg) translateX(180px) translateY(-180px);
            }
        }

    }

    .hero {
        &-section {
            padding-top: 0;
        }
        &__wrapper {
            width: 100%;
        }
        &-info {
            &__title {
                width: 100%;
                text-align: center;
            }
            &__text {
                text-align: center;
            }
            &__button {
                display: block;
                width: 80%;
                margin: 0 auto;
                &::after,
                &::before {
                    display: none;
                }
            }
        
        }
        &-list {
            flex-direction: row;
            &__item {
                line-height: 1.1;
                margin-bottom: 0;
            }
        }
        &__img {
            &--man {
                display: block;
                position: static;
                height: 440px;
                margin: 0 auto;
            }
        }
    }

    .steps {
        &-list {
            &__item {
                width: 100%;
            }
        }
    }

    .swiper {
        &-slide-park {
            flex-direction: column-reverse;
        }
        &-slide__text--mobile {
            display: block;
            margin: 0 auto;
        }
        &-slide__button--mobile {
            display: block;
            width: 50%;
            margin: 20px auto 0px auto;
        }
        &-slide__right {
            display: block;
            margin: 0 auto;
        }

    }

    .left {
        display: none;
    }

    .order {
        &__form {
            flex-direction: column;
            &--name,
            &--phone {
                width: 50%; 
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            &--label {
                left: 20px;
            }
            &--checkbox {
                left: 0;
            }
        }
    }

    .map {
        &-block {
            top: 15px;
            left: 10px;
            width: 300px;
            height: 300px;
            &__social {
                margin-top: 30px;
            }
        }
    }

    .footer {
        &-section {
            padding: 50px 0 50px 0;
        }
        &__policy p{
            max-width: 180px;
        }
        &__call {
            &--button {
                width: 200px;
                height: 40px;
                font-size: 16px;
            }
        }
        &__social {
            bottom: 20px;
        }
    }
}

@media (max-width: 560px) {
    .container {
        width: 440px;
    }

    .burger-menu--active span{
        transform: rotate(45deg) translateX(150px) translateY(-150px);
    }

    .hero-info {
        &__title {
            font-size: 48px;
            line-height: 1.1;
        }
        &__text {
            font-size: 26px;
            margin-top: 20px;
        }
    }

    .hero-list {
        display: none;
    }

    .steps-section {
        padding-bottom: 60px;
    }

    #price-modal {
        display: none;
        position: fixed;
        width: 380px;
        height: 560px;
        z-index: 999;
        top: 50vh;
        left: 50vw;
        transform: translateX(-50%) translateY(-50%);
        padding: 45px 0 30px 0px;
        background-color: #fff;
        border: 1px solid $main;
    }

    .price {
        &__subtitle {
            font-size: 18px;
        }
        &-list {
            & li {
                &:not(:first-child) {
                    display: none;
                }
            }
        }
        &__btn {
            display: block;
            margin: 0 auto;
            text-decoration: underline;
            background-color: transparent;
        }

        &-modal {
            
            &__close {
                position: absolute;
                width: 25px;
                height: 25px;
                font-size: 40px;
                right: 0;
                top: 0;
            }
        }
    }

    .swiper-container-price {
        padding-bottom: 50px;
        & .swiper-pagination {
            bottom: 15px;
        }
    }

    .swiper-slide-price {
        margin-top: 20px;
    }

    .park {
        &__title {
            margin-top: 60px;
        }
        &-nav {
            &__item {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .swiper {
        &-button-next-park,
        &-button-prev-park {
            display: none;
        }
        &-pagination-park {
            display: block;
            top: calc(100% - 110px);
            & .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                padding: 7px;
                background-color: #333;
                opacity: 1;
                &:not(:last-child) {
                    margin-right: 17px;
                }
                &-active {
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        left: -4px;
                        top: -4px;
                        background-color: transparent;
                        border: 2px solid $main;
                        border-radius: 50%;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }
        &-slide__button--mobile {
            width: 100%;
            height: 60px;
            margin-top: 80px;
        }
    }

    .order {
        &__form {
            &--name,
            &--phone {
                width: 80%;
            }
        }
    }

    #map {
        padding-bottom: 180px;
    }

    .map {
        &-block {
            width: 100%;
            height: auto;
            padding: 40px 0;
            top: calc(100% - 177px);
            &__social {
                display: none;
            }
            &__list {
                margin-top: 0;
                &--item {
                    padding: 0;
                    background: none;
                }
            }
            &__logo {
                display: none;
            }
            &__container {
                display: block;
            }
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;

        &__policy {
            & img {
                display: block;
                margin: 0 auto;
            } 
            & p {
                max-width: 240px;
                margin-top: 18px;
                font-weight: 500;
                text-align: center;
                &:first-child {
                    margin-top: 35px;
                }
            }
        }

        &-nav {
            margin-top: 46px;
        }

        &-social {
            position: static;
            &__list {
                width: 165px;
                margin: 46px auto 0px auto;
            }
        }

        &__call {
            width: 100%;
            &--button {
                width: 100%;
                height: 60px;
                margin-top: 46px;
            }
            &--phone {
                display: none;
            }
        }
    }
}

@media (max-width: 460px) {
    .container {
        width: 380px;
    }

    .burger-menu--active span {
        transform: rotate(45deg) translateX(135px) translateY(-135px);
    }

}

@media (max-width: 390px) {
    .container {
        width: 340px;
    }

    .burger-menu--active {
        & span {
            transform: rotate(45deg) translateX(115px) translateY(-115px);
        }
    }

    .price {
        &-list {
            &__item {
                width: 300px;
            }
        }
    }

    .park {
        &-nav {
            justify-content: space-between;
            &__item {
                width: auto;
                height: auto;
                padding-bottom: 7px;
                line-height: 1.1;
                border: none;
                border-bottom: 1px solid transparent;
                &:hover {
                    background-color: transparent;
                    color: #333;
                }
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }

    .is-active {
        background-color: transparent;
        border-color: $main;
    }

    .swiper-slide__right img{
        width: 340px;
    }
}

@media (max-width: 350px) {
    .container {
        width: 310px;
    }

    .hero {
        &-info {
            &__title {
                font-size: 32px;
            }
            &__text {
                font-size: 20px;
                margin-top: 5px;
            }
            &__button {
                width: 100%;
            }
        }
        &__img {
            &--man {
                height: 300px;
            }
        }
    }

    .steps {
        &-section {
            padding-top: 35px;
        }
        &-list {
            &__item {
                padding-left: 70px;
                &--title {
                    font-size: 18px;
                }
                &--text {
                    font-size: 14px;
                    margin-top: 2px;
                }
                &:first-child {
                    & .steps-list__item--number {
                            transform: translateX(7px);
                        
                    }
                }
            }
        }
    }

    .price-modal {
        overflow: auto;
    }

    .swiper-slide__right img {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 290px;
    }
}